<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.eylog.practitioner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1755f8f00e848f5fc0358643c79ff72ac1cd063f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ROBOTO-BLACK.TTF</string>
		<string>ROBOTO-BLACKITALIC.TTF</string>
		<string>ROBOTO-BOLD.TTF</string>
		<string>ROBOTO-BOLDCONDENSED.TTF</string>
		<string>ROBOTO-BOLDCONDENSEDITALIC.TTF</string>
		<string>ROBOTO-BOLDITALIC.TTF</string>
		<string>ROBOTO-CONDENSED_0.TTF</string>
		<string>ROBOTO-CONDENSEDITALIC_0.TTF</string>
		<string>ROBOTO-ITALIC.TTF</string>
		<string>ROBOTO-LIGHT.TTF</string>
		<string>ROBOTO-LIGHTITALIC.TTF</string>
		<string>ROBOTO-MEDIUM.TTF</string>
		<string>ROBOTO-MEDIUMITALIC.TTF</string>
		<string>ROBOTO-REGULAR.TTF</string>
		<string>ROBOTO-THIN.TTF</string>
		<string>ROBOTO-THINITALIC.TTF</string>
		<string>ROBOTOCONDENSED-BOLD.TTF</string>
		<string>ROBOTOCONDENSED-BOLDITALIC.TTF</string>
		<string>ROBOTOCONDENSED-LIGHT.TTF</string>
		<string>ROBOTOCONDENSED-LIGHTITALIC.TTF</string>
		<string>RobotoCondensed-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
