<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>All Groups</string>
	<string>Baby</string>
	<string>Paddington</string>
	<string>Pooh Bear</string>
	<string>Rupert</string>
	<string>Super Teds</string>
	<string>Threadbear</string>
	<string>Key Children</string>
</array>
</plist>
